<header class="header">
  <div class="header__logo">
    <img src="/img/svg/logo-dark.svg" alt="Your Energy">
  </div>
  <nav class="header__nav">
    <button class="header__nav-link header__nav-link--active" data-page="home">Home</button>
    <button class="header__nav-link" data-page="favorites">Favorites</button>
  </nav>
  <div class="header__socials">
    <a href="/" class="header__socials-link" aria-label="Facebook">
      <img src="/img/svg/facebook-dark.svg" alt="Facebook">
    </a>
    <a href="/" class="header__socials-link" aria-label="Instagram">
      <img src="/img/svg/instagram-dark.svg" alt="Instagram">
    </a>
    <a href="/" class="header__socials-link" aria-label="YouTube">
      <img src="/img/svg/youtube-dark.svg" alt="YouTube">
    </a>
  </div>
</header>
