.home__content {
  padding: var(--spacing-3xl) var(--spacing-xl);
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-bg-light);
}

.home__main {
  display: flex;
  justify-content: space-between;
}

.home__title {
  width: 600px;
  font-size: 72px;
  font-weight: 400;
  color: var(--color-dark);
  margin-block: 0;

  // &-decor {
  //   display: inline-block;
  //   margin-right: var(--spacing-sm);
  //   font-size: var(--font-size-4xl);
  // }

  &-italic {
    // font-family: var(--font-family-italic);
    font-style: italic;
  }
}

.home__description {
  font-size: 18px;
  color: var(--color-dark);
  max-width: 550px;
}

.home__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home__image-small {
  img {
    width: 168px;
    height: 100px;
    border-radius: 20px;
  }
}

.home__hashtags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-sm);
  margin-top: var(--spacing-lg);

  &-item {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 16px;
    font-size: 16px;
    color: var(--color-dark);
    text-align: center;
    border: 1px solid var(--color-dark);
  }
}

.home__hero {
  margin-top: var(--spacing-xl);

  img {
    width: 100%;
    height: 400px;
    border-radius: 60px;
  }
}
