/* CSS Variables */
:root {
  /* Colors - Light theme */
  --color-light: #f4f4f4;
  --color-dark: #242424;
  
  --color-block-light: #ffffff;

  /* Typography */
  --font-family: 'DM Sans', sans-serif;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 32px;
}
